footer {
    position: sticky;
    text-align: center;
    font-style: italic;
    font-family: cursive;
    bottom: 0;
}

#copyright{                 
    transition: transform 50s ease-in-out;
}

#copyright:hover {
    transform: rotateY(-36000deg);
   
}

fieldset {
    max-width: fit-content;
    margin: 100px auto;
    border: 2px solid black;
}

body { 
    background: #f4d292;
    }

h1 {
    text-align: center;
    font-size: 3em;
    font-family: cursive;
    text-decoration: underline;
}

#tileTable {
    margin: 0 auto;
}

#startTile{
    display: block;
    width: 250px;
    height: 50px;
    margin: 0 auto;
}
    
.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9, .tile10, .tile11, .tile12, .tile13, .tile14, .tile15, .tile16 {
    display: table-cell;
    width: 120px;
    height: 120px;
    border: 1px solid #f4d292;
    background: url(../images/480louise.jpg);
    cursor: pointer;
  }
  
.tile1 {background-position: 0px 0px;}
.tile2 {background-position: 360px 0px;}
.tile3 {background-position: 240px 0px;}
.tile4 {background-position: 120px 0px;}
.tile5 {background-position: 0px 360px;}
.tile6 {background-position: 360px 360px;}
.tile7 {background-position: 240px 360px;}
.tile8 {background-position: 120px 360px;}
.tile9 {background-position: 0px 240px;}
.tile10 {background-position: 360px 240px;}
.tile11 {background-position: 240px 240px;}
.tile12 {background-position: 120px 240px;}
.tile13 {background-position: 0px 120px;}
.tile14 {background-position: 360px 120px;}
.tile15 {background-position: 240px 120px;}
.tile16 {background: #f4d292;  border: 2px solid; cursor: default;}

#hintImg {
    width: 240px;
    height: 240px;
    margin: 0 auto;
    background: url(../images/480louise.jpg);
    background-size: contain;
}
    